@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans";
}

/* Navigation Bar */
#navbar {
  width: 100%;
  height: 5vw;
  position: fixed;
  background-color: white;
  z-index: 2;
}
#navbar ul {
  text-align: right;
  padding: 0 4vw 0 0;
}
#navbar ul li {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  padding: 1.5vw 2vw 0 0;
}
#navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}
#navbar ul li a:hover {
  position: relative;
  top: -0.5vw;
}
#navbar ul li button {
  font-size: 1.5vw;
  padding: 0.2vw 0.8vw 0.2vw 0.8vw;
  background-color: #322F27;
  color: white;
  border-radius: 0.5vw;
  border: none;
}
#navbar ul li button:hover {
  cursor: pointer;
  transition: 700ms;
  position: relative;
  top: 0.2vw;
}
#navbar #logo {
  width: 10vw;
  height: 4vw;
  position: fixed;
  top: 0.5vw;
  left: 7vw;
  vertical-align: middle;
}
#navbar #logo img {
  width: 100%;
  height: 100%;
}

#navbar.scrolled {
  box-shadow: 0 0.2vw 1vw black;
}

#sec1 {
  padding: 7vw 0 0 0;
}
#sec1 #display {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 4vw;
}
#sec1 #display #column {
  width: 30%;
  height: 40vw;
  margin: 0 4vw 0 0;
}
#sec1 #display #column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec1 #display #mid {
  width: 30%;
  height: 40vw;
  background-color: #F7EAE4;
  margin: 0 4vw 0 0;
}
#sec1 #display #mid #text {
  text-align: center;
  margin: 10vw 5vw 5vw 5vw;
  color: #AD4406;
}
#sec1 #display #mid #text h1 {
  font-size: 4vw;
  font-family: "Satisfy";
}
#sec1 #display #mid #text p {
  font-size: 1.8vw;
}
#sec1 #display #mid #text button {
  width: auto;
  height: auto;
  color: white;
  background-color: #F4A26F;
  border-radius: 10px;
  border: none;
  padding: 0.7vw 1.2vw 0.7vw 1.2vw;
  font-size: 1.3vw;
  margin: 2vw 0 0 0;
  font-family: "Marope";
}
#sec1 #display #mid #text button:hover {
  transform: scale(1.1);
}

#sec2 #preview {
  width: 100%;
  height: auto;
}
#sec2 #preview #label {
  height: auto;
  text-align: center;
  padding: 2vw 0 2vw 0;
  color: #AD4406;
}
#sec2 #preview #label h1 {
  font-size: 4vw;
  font-family: "Satisfy";
}
#sec2 #preview #label p {
  font-size: 1.7vw;
}
#sec2 #preview #swipe {
  height: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
#sec2 #preview #swipe #product {
  width: 40vw;
  height: auto;
  margin: 0 2vw 0 0;
  text-align: center;
}
#sec2 #preview #swipe #product img {
  width: 40vw;
  height: 27vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#sec2 #preview #swipe #product h1 {
  font-size: 2.5vw;
  font-family: "Courier Prime";
}
#sec2 #preview #swipe #product h2 {
  font-size: 1.9vw;
  font-weight: normal;
}
#sec2 #preview #swipe #product button {
  width: auto;
  height: auto;
  font-size: 1.4vw;
  background-color: #AD4406;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.4vw 1vw 0.4vw 1vw;
  font-family: "Manrope";
}
#sec2 #preview #swipe #product button:hover {
  transform: scale(1.1);
}

#sec3 #sections {
  height: auto;
  background-color: #322F27;
  color: white;
  padding: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}
#sec3 #sections #category {
  width: 18vw;
  height: auto;
  margin: 0 0 0 1.3vw;
}
#sec3 #sections #category img {
  width: 8vw;
  height: 8vw;
}
#sec3 #sections #category h1 {
  margin: 0.5vw 0 0.5vw 0;
  font-size: 2.3vw;
}
#sec3 #sections #category p {
  font-size: 1.3vw;
}

#sec4 {
  height: auto;
  color: white;
  text-align: center;
  text-shadow: 0.1vw 0.1vw 0.5vw black;
}
#sec4 #prllx {
  height: 30vw;
  background-image: url("https://github.com/temp00l0/Stock/blob/main/images/parralax%20background.jpg?raw=true");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#sec4 #prllx #txt {
  font-size: 3.9vw;
  padding: 5vw 28vw 0 28vw;
  font-family: "Satisfy";
}

footer {
  height: auto;
}
footer #container {
  height: auto;
  padding: 4vw;
  display: flex;
  align-items: center;
}
footer #container #left {
  width: 50%;
}
footer #container #left #contact {
  color: #AD4406;
}
footer #container #left #contact h1 {
  font-size: 5.5vw;
  font-family: "Satisfy";
}
footer #container #left #contact a {
  text-decoration: none;
  color: #AD4406;
  font-size: 1.3vw;
}
footer #container #left #contact a:hover {
  text-decoration: underline;
}
footer #container #left #contact p {
  font-size: 1.3vw;
}
footer #container #left #contact .indent {
  padding: 0 0 0 1vw;
}
footer #container #left #contact #links {
  margin: 0 0 0 1vw;
}
footer #container #left #contact #links i {
  height: auto;
  font-size: 3vw;
  margin: 0 1.5vw 0 0;
}
footer #container #left #contact #links i:hover {
  transform: scale(1.2);
}
footer #container #right {
  width: 50%;
  height: auto;
  text-align: right;
}
footer #container #right img {
  width: 15vw;
  height: 15vw;
}
footer #container #right p {
  color: #AD4406;
  font-size: 1.2vw;
  font-weight: bold;
}/*# sourceMappingURL=sample_3.css.map */